<div class="content-wrapper">
  <div class="content-location">
    <i>你的位置</i>
    <i class="fa fa-angle-right" aria-hidden="true" style="padding: 0 10px;"></i> {{title}}
  </div>
  <div class="content-title">
    {{title}} － <strong>{{subTitle}}</strong>
  </div>
  <tab-set [menuClass]="'teal four item inverted content-tab'">
    <tab title="血压">
      <div class="ui small form">
        <div class="inline fields">
          <div class="field">
            <input type="text" placeholder="手机号／姓名搜索" name="pressureQueryKey" [(ngModel)]="pressureQueryKey">
          </div>
          <div class="field">
            <button type="button" class="ui small button" (click)="getPressureData(0)">搜索</button>
          </div>
          <div class="field" style="min-width: 187px">
            <select id="list_pressure" placeholder="筛选状态" class="ui fluid dropdown" name="pressureQueryBind" [(ngModel)]="pressureQueryBind" (change)="getPressureData(0)">
              <option value="">筛选状态</option>
              <option value="0">正常</option>
              <option value="1">异常</option>  
            </select>
          </div>
          <div class="field">
            <button type="button" class="ui small button" (click)="clearPressure()">清空</button>
          </div>
          <div class="field">
            <button type="button" class="ui small button" (click)="downloadPressure()">导出</button>
          </div>
          <div class="field" style="display: none">
            <a href="#" class="pressureExcel ui button" id="downloadPressure">隐藏下载</a>
          </div>    
        </div>
      </div>
      <div *ngIf="!pressureTable.lists&&pressureTable.loading">Loading...</div>
      <div *ngIf="pressureTable.lists">
        <dynamic-table [titles]="pressureTable.titles" [lists]="pressureTable.lists" (handleEmmit)="gotoHandle($event)"></dynamic-table>
        <div class="table-nav" style="text-align: right">
          <page-menu *ngIf="pressureTable.lists" [totalPages]="pressureTable.totalPage" [currentPage]="pressureTable.currentPage" (pageEmitter)="getPressureData($event)"></page-menu>
        </div>
      </div>
      <div *ngIf="!pressureTable.lists&&!pressureTable.loading" class="error-message">
        <p>{{pressureTable.errorMessage}}</p>
        <button *ngIf="pressureTable.errorMessage" class="ui button small" (click)="refresh()">点击刷新</button>
      </div>
    </tab>
    <tab title="血糖">
      <div class="ui small form">
        <div class="inline fields">
          <div class="field">
            <input type="text" placeholder="手机号／姓名搜索" name="sugarQueryKey" [(ngModel)]="sugarQueryKey">
          </div>
          <div class="field">
            <button type="button" class="ui small button" (click)="getSugarData(0)">搜索</button>
          </div>
          <div class="field" style="min-width: 187px">
            <select id="list_sugar" placeholder="筛选状态" class="ui fluid dropdown" name="sugarQueryBind" [(ngModel)]="sugarQueryBind" (change)="getSugarData(0)">
              <option value="">筛选状态</option>
              <option value="0">正常</option>
              <option value="1">异常</option>  
            </select>
          </div>
          <div class="field">
            <button type="button" class="ui small button" (click)="clearSugar()">清空</button>
          </div>
          <div class="field">
            <button type="button" class="ui small button" (click)="downloadSugar()">导出</button>
          </div>
          <div class="field" style="display: none">
            <a href="#" class="sugarExcel ui button" id="downloadSugar">隐藏下载</a>
          </div>  
        </div>
      </div>
      <div *ngIf="!sugarTable.lists&&sugarTable.loading">Loading...</div>
      <div *ngIf="sugarTable.lists">
        <dynamic-table [titles]="sugarTable.titles" [lists]="sugarTable.lists" (handleEmmit)="gotoHandle($event)"></dynamic-table>
        <div class="table-nav" style="text-align: right">
          <page-menu *ngIf="sugarTable.lists" [totalPages]="sugarTable.totalPage" [currentPage]="sugarTable.currentPage" (pageEmitter)="getSugarData($event)"></page-menu>
        </div>
        </div>
      <div *ngIf="!sugarTable.lists&&!sugarTable.loading" class="error-message">
        <p>{{sugarTable.errorMessage}}</p>
        <button *ngIf="sugarTable.errorMessage" class="ui button small" (click)="refresh()">点击刷新</button>
      </div>
    </tab>
    <tab title="心率">
      <div class="ui small form">
        <div class="inline fields">
          <div class="field">
            <input type="text" placeholder="手机号／姓名搜索" name="rateQueryKey" [(ngModel)]="rateQueryKey">
          </div>
          <div class="field">
            <button type="button" class="ui small button" (click)="getRateData(0)">搜索</button>
          </div>
          <div class="field" style="min-width: 187px">
            <select id="list_rate" placeholder="筛选状态" class="ui fluid dropdown" name="rateQueryBind" [(ngModel)]="rateQueryBind" (change)="getRateData(0)">
              <option value="">筛选状态</option>
              <option value="0">正常</option>
              <option value="1">异常</option>  
            </select>
          </div>
          <div class="field">
            <button type="button" class="ui small button" (click)="clearRate()">清空</button>
          </div>
          <div class="field">
            <button type="button" class="ui small button" (click)="downloadRate()">导出</button>
          </div>
          <div class="field" style="display: none">
            <a href="#" class="rateExcel ui button" id="downloadRate">隐藏下载</a>
          </div>  
        </div>
      </div>
      <div *ngIf="!rateTable.lists&&rateTable.loading">Loading...</div>
      <div *ngIf="rateTable.lists">
        <dynamic-table [titles]="rateTable.titles" [lists]="rateTable.lists" (handleEmmit)="gotoHandle($event)"></dynamic-table>
        <div class="table-nav" style="text-align: right">
          <page-menu *ngIf="rateTable.lists" [totalPages]="rateTable.totalPage" [currentPage]="rateTable.currentPage" (pageEmitter)="getRateData($event)"></page-menu>
        </div>
      </div>
      <div *ngIf="!rateTable.lists&&!rateTable.loading" class="error-message">
        <p>{{rateTable.errorMessage}}</p>
        <button *ngIf="rateTable.errorMessage" class="ui button small" (click)="refresh()">点击刷新</button>
      </div>
    </tab>
    <tab title="体重">
      <div class="ui small form">
        <div class="inline fields">
          <div class="field">
            <input type="text" placeholder="手机号／姓名搜索" name="weightQueryKey" [(ngModel)]="weightQueryKey">
          </div>
          <div class="field">
            <button type="button" class="ui small button" (click)="getWeightData(0)">搜索</button>
          </div>
          <div class="field" style="min-width: 187px">
            <select id="list_weight" placeholder="筛选状态" class="ui fluid dropdown" name="weightQueryBind" [(ngModel)]="weightQueryBind" (change)="getWeightData(0)">
              <option value="">筛选状态</option>
              <option value="0">正常</option>
              <option value="1">异常</option>  
            </select>
          </div>
          <div class="field">
            <button type="button" class="ui small button" (click)="clearWeight()">清空</button>
          </div>
          <div class="field">
            <button type="button" class="ui small button" (click)="downloadWeight()">导出</button>
          </div>
          <div class="field" style="display: none">
            <a href="#" class="weightExcel ui button" id="downloadWeight">隐藏下载</a>
          </div>  
        </div>
      </div>
      <div *ngIf="!weightTable.lists&&weightTable.loading">Loading...</div>
      <div *ngIf="weightTable.lists">
        <dynamic-table [titles]="weightTable.titles" [lists]="weightTable.lists" (handleEmmit)="gotoHandle($event)"></dynamic-table>
        <div class="table-nav" style="text-align: right">
          <page-menu *ngIf="weightTable.lists" [totalPages]="weightTable.totalPage" [currentPage]="weightTable.currentPage" (pageEmitter)="getWeightData($event)"></page-menu>
        </div>
      </div>
      <div *ngIf="!weightTable.lists&&!weightTable.loading" class="error-message">
        <p>{{weightTable.errorMessage}}</p>
        <button *ngIf="weightTable.errorMessage" class="ui button small" (click)="refresh()">点击刷新</button>
      </div>
    </tab>
  </tab-set>
</div>

<div class="hidden">
  <table id="pressure">
    <thead>
      <tr>
        <th *ngFor="let title of pressureTable.titles">{{title.name}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let list of allPressureTable.lists">
        <td *ngFor="let title of pressureTable.titles" [ngSwitch]="title.controlType" data-title="{{title.name}}">
          <div *ngSwitchCase="'text'">
            <span>{{list[title.key] == 0 ? list[title.key] : list[title.key] || ''}}</span>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="hidden">
  <table id="sugar">
    <thead>
      <tr>
        <th *ngFor="let title of sugarTable.titles">{{title.name}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let list of allSugarTable.lists">
        <td *ngFor="let title of sugarTable.titles" [ngSwitch]="title.controlType" data-title="{{title.name}}">
          <div *ngSwitchCase="'text'">
            <span>{{list[title.key] == 0 ? list[title.key] : list[title.key] || ''}}</span>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="hidden">
  <table id="rate">
    <thead>
      <tr>
        <th *ngFor="let title of rateTable.titles">{{title.name}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let list of allRateTable.lists">
        <td *ngFor="let title of rateTable.titles" [ngSwitch]="title.controlType" data-title="{{title.name}}">
          <div *ngSwitchCase="'text'">
            <span>{{list[title.key] == 0 ? list[title.key] : list[title.key] || ''}}</span>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="hidden">
  <table id="weight">
    <thead>
      <tr>
        <th *ngFor="let title of weightTable.titles">{{title.name}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let list of allWeightTable.lists">
        <td *ngFor="let title of weightTable.titles" [ngSwitch]="title.controlType" data-title="{{title.name}}">
          <div *ngSwitchCase="'text'">
            <span>{{list[title.key] == 0 ? list[title.key] : list[title.key] || ''}}</span>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
