<div class="modal-full">
  <i class="close icon" (click)="close()"></i>
  <div class="modal-header">
    {{modalTitle}}
  </div>
  <div class="modal-container">
    <div *ngIf="errorMessage" class="error-message">* {{errorMessage}}</div>
    <form #f="ngForm" class="ui form" (ngSubmit)="getValue(f.value)">
      <div class="field">
        <div class="ui grid">
          <div class="three wide column right aligned">
            <label>
              规格名称
              <span *ngIf="!name||(name&&name.length==0)" style="color: #e74c3c;">*</span>
            </label>
          </div>
          <div class="nine wide column">
            <input type="text" name="name" [(ngModel)]="name" required>
          </div>
        </div>
        <div class="ui grid">
          <div class="three wide column right aligned">
            <label>
              所属类型
            </label>
          </div>
          <div class="nine wide column">
            <select id="specType" class="ui fluid dropdown" name="specificationIdx" [(ngModel)]="specificationIdx">
              <option [value]="''"></option>
              <option *ngFor="let opt of specType" [value]="opt.id">{{opt.name}}</option>
            </select>
          </div>
        </div>
        <div class="ui grid">
          <div class="three wide column right aligned">
            <label>
              价格
            </label>
          </div>
          <div class="nine wide column">
            <input type="text" name="price" [(ngModel)]="price">
          </div>
        </div>
        <div class="ui grid">
          <div class="three wide column right aligned">
            <label>
              库存数量
            </label>
          </div>
          <div class="nine wide column">
            <input type="text" name="count" [(ngModel)]="count">
          </div>
        </div>
        <div class="ui grid">
          <div class="three wide column right aligned">
            <label>
              所属第三方服务
              <span *ngIf="!serviceId" style="color: #e74c3c;">*</span>
            </label>
          </div>
          <div class="nine wide column">
            <input type="text" name="serviceName" placeholder="输入第三方服务以检索" (change)="serviceId=null" (change)="search($event)" (keyup)="search($event)" [(ngModel)]="serviceName">
            <input type="hidden" name="serviceId" [(ngModel)]="serviceId" required>
            <div class="ui middle aligned divided selection list" style="background-color: #fff">
              <div class="item" *ngFor="let result of results$">
                <div class="content">
                  <div class="header" (click)="selected(result)">{{result.name}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="ui grid">
          <div class="three wide column right aligned">
            <label>
              状态
            </label>
          </div>
          <div class="nine wide column">
            <select id="enable" class="ui fluid dropdown" name="enable" [(ngModel)]="enabled">
              <option [value]="''"></option>
              <option [value]="'true'">启用</option>
              <option [value]="'false'">禁用</option>
            </select>
          </div>
        </div>
        <div class="ui grid">
          <div class="three wide column"></div>
          <div class="nine wide column">
            <button class="ui submit button" type="submit" [disabled]="!f.valid">保存</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
