<modal-full [modalTitle]="modalTitle" (closeEmmit)="close()">
  <form *ngIf="myForm" [formGroup]="myForm" (ngSubmit)="onSubmit(myForm.value)" class="ui form" style="padding: 30px 0">
    <div class="ui grid">
      <div class="three wide column" style="text-align: right;">
        <label for="followTypeList">随访时间<span *ngIf="!isTypeValid" style="color: #e74c3c;">*</span></label>
      </div>
      <div class="nine wide column">
        <select id="followTypeList" class="ui fluid dropdown" name="type" [formControlName]="'type'" required>
          <option *ngFor="let opt of followTypeList" [value]="opt.id">{{opt.name}}</option>
        </select>
      </div>
    </div>
    <div class="ui grid">
      <div class="three wide column" style="text-align: right;">
        <label for="customList">随访项<span *ngIf="!isNameValid" style="color: #e74c3c;">*</span></label>
      </div>
      <div class="nine wide column">
        <select id="customList" class="ui fluid dropdown" [formControlName]="'name'" [(ngModel)]="name" required>
          <option *ngFor="let opt of customList" [value]="opt.name">{{opt.name}}</option>
        </select>
      </div>
    </div>
    <div class="ui grid" *ngIf="name==='自定义'">
      <div class="three wide column" style="text-align: right;">
        <label for="customName">自定义内容</label>
      </div>
      <div class="nine wide column">
        <input id="customName" type="text" [formControlName]="'customName'" [(ngModel)]="customName" required>
      </div>
    </div>
    <div class="ui grid">
      <div class="three wide column"></div>
      <div class="nine wide column">
        <button class="ui submit button" type="submit" [disabled]="!myForm.valid">保存</button>
      </div>
    </div>
  </form>
</modal-full>
