<div class="content-wrapper">
  <div class="content-location">
    <i>你的位置</i>
    <i class="angle right icon" style="padding: 0 10px;"></i> {{title}}
  </div>
  <div class="content-title">
    {{title}} － <strong>{{subTitle}}</strong>
  </div>
  <div class="table-title">{{subTitle}}</div>
  <div class="table-content">
    <form class="ui small form" #f="ngForm" (ngSubmit)="getRelationships(0)">
      <div class="inline fields">
        <div class="field">
          <input type="text" placeholder="手机号／姓名搜索" name="queryKey" [(ngModel)]="queryKey">
        </div>
        <div class="field" style="min-width: 187px">
          <select id="list" placeholder="申请状态" class="ui fluid dropdown" name="queryStatus" [(ngModel)]="queryStatus">
            <option value="">申请状态</option>
            <option value="true">同意</option>
            <option value="false">申请中</option>
          </select>
        </div>
        <div class="field">
          <button type="submit" class="ui small button">搜索</button>
        </div>
        <div class="field">
          <button type="button" class="ui small button" (click)="refresh()">全部</button>
        </div>
      </div>
    </form>
    <div *ngIf="!relationshipTable.lists&&relationshipTable.loading">Loading...</div>
    <div *ngIf="relationshipTable.lists">
      <dynamic-table [titles]="relationshipTable.titles" [lists]="relationshipTable.lists"></dynamic-table>
      <div class="table-nav" style="text-align: right">
        <page-menu [totalPages]="relationshipTable.totalPage" [currentPage]="relationshipTable.currentPage" (pageEmitter)="getRelationships($event)"></page-menu>
      </div>
    </div>
    <div *ngIf="!relationshipTable.lists&&!relationshipTable.loading" class="error-message">
      <p>{{relationshipTable.errorMessage}}</p>
      <button *ngIf="relationshipTable.errorMessage" class="ui button small" (click)="refresh()">点击刷新</button>
    </div>
  </div>
</div>
