<app-container [config]="containerConfig" *ngIf="containerConfig">
  <div class="content">
    <md-grid-list class="grid" cols="2" rowHeight="fit">
      <md-grid-tile [rowspan]="'3'">
        <div class="container">
          <md-list *ngIf="auditedTable.lists" class="list">
            <md-list-item *ngFor="let item of auditedTable.lists"
                          (click)="selectItem(item)"
                          class="list_item">
              <img [src]="item.avatarUrl" [alt]="item.name">
              <span>{{item.name}}</span>
            </md-list-item>
          </md-list>
          <app-lib-page *ngIf="auditedTable.totalPage"
                        [page]="auditedTable.currentPage"
                        [total]="auditedTable.totalPage"
                        (pageEmitter)="getAuditedDoctors($event)"
          ></app-lib-page>
        </div>
      </md-grid-tile>
      <md-grid-tile [rowspan]="'2'">
        <div class="container">
          <div *ngIf="selectedItems.length!==0">
            <p style="padding-top: 1em">已选医生：</p>
            <md-list>
              <md-list-item *ngFor="let select of selectedItems"
                            class="list_select">
                <img [src]="select.avatarUrl" [alt]="select.name">
                <span>{{select.name}}</span>
                <md-icon class="close" (click)="removeItem(select)">close</md-icon>
              </md-list-item>
            </md-list>
          </div>
          <div *ngIf="selectedItems.length===0" style="text-align: center;padding: 1em;">您还没有选择任何医生</div>
        </div>
      </md-grid-tile>
      <md-grid-tile [rowspan]="'1'">
        <div class="container" style="padding: 1em">
          <form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
            <md-input-container floatPlaceholder="auto" style="width:100%;">
              <textarea mdInput rows="4" name="message" placeholder="请编辑短信内容" ngModel required></textarea>
            </md-input-container>
            <button md-raised-button color="primary" type="submit">发送</button>
            <button md-raised-button type="reset">重置</button>
          </form>
        </div>
      </md-grid-tile>
    </md-grid-list>
  </div>
</app-container>
