<app-container [config]="containerConfig" *ngIf="containerConfig">
  <div class="content">
    <mat-tab-group dynamicHeight="true">
      <mat-tab label="患者统计">
        <form style="padding: 16px">
          <app-search [type]="'1'" [label]="'请选择日期'" [(value)]="userTable.queryKey" #f></app-search>
          <button mat-icon-button color="primary" type="button" (click)="getUsers(0)">
            <mat-icon>search</mat-icon>
          </button>
          <button mat-icon-button color="primary" type="button" (click)="reset0()">
            <mat-icon>autorenew</mat-icon>
          </button>
        </form>
        <div *ngIf="!userTable.lists&&userTable.loading">Loading...</div>
        <div *ngIf="!userTable.lists&&!userTable.loading&&!!userTable.errorMessage" class="center">
          {{userTable.errorMessage}}
        </div>
        <div *ngIf="userTable.lists">
          <div *ngIf="userRegisterCount" style="text-align:center;font-size:16px;padding-top: 16px">
            <strong style="padding-right: 15px">总数据</strong>
            <strong style="padding-right: 15px">注册用户数：{{userRegisterCount.registerTotal || 0}}</strong>
            <strong style="padding-right: 15px">实名认证用户数：{{userRegisterCount.validateTotal || 0}}</strong>
            <strong style="padding-right: 15px">申请医患关联用户数：{{userRegisterCount.relationTotal || 0}}</strong>
            <strong style="padding-right: 15px">上传病例用户数：{{userRegisterCount.uploadTotal || 0}}</strong>
          </div>
          <div class="content__table">
            <app-lib-table
              [table]="userTable"
              (pageEmitter)="getUsers($event)"
            ></app-lib-table>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="医生统计">
        <form style="padding: 16px">
          <app-search [type]="'1'" [label]="'请选择日期'" [(value)]="doctorTable.queryKey" #f></app-search>
          <button mat-icon-button color="primary" type="button" (click)="getDoctors(0)">
            <mat-icon>search</mat-icon>
          </button>
          <button mat-icon-button color="primary" type="button" (click)="reset1()">
            <mat-icon>autorenew</mat-icon>
          </button>
        </form>
        <div *ngIf="!doctorTable.lists&&doctorTable.loading">Loading...</div>
        <div *ngIf="!doctorTable.lists&&!doctorTable.loading&&!!doctorTable.errorMessage" class="center">
          {{doctorTable.errorMessage}}
        </div>
        <div *ngIf="doctorTable.lists">
          <div *ngIf="doctorRegisterCount" style="text-align:center;font-size:16px;padding-top: 16px">
            <strong style="padding-right: 15px">总数据</strong>
            <strong style="padding-right: 15px">注册医生数：{{doctorRegisterCount.doctorRegisterTotal || 0}}</strong>
            <strong style="padding-right: 15px">审核通过医生数：{{doctorRegisterCount.validateSuccessTotal || 0}}</strong>
            <strong style="padding-right: 15px">加入小组医生数：{{doctorRegisterCount.doctorGroupTotal || 0}}</strong>
          </div>
          <div class="content__table">
            <app-lib-table
              [table]="doctorTable"
              (pageEmitter)="getDoctors($event)"
            ></app-lib-table>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</app-container>
