<app-container [config]="containerConfig" *ngIf="containerConfig">
  <div class="addition">
    <button md-raised-button (click)="export()">导出</button>
    <button md-raised-button (click)="toSendMessage()">短信提醒医生</button>
    <button md-raised-button (click)="newData()">新增医生</button>
  </div>
  <div class="content">
    <md-tab-group dynamicHeight="true" [selectedIndex]="tab | async" (selectedIndexChange)="change($event)">
      <md-tab label="审核通过">
        <form style="padding: 0 16px">
          <md-input-container floatPlaceholder="never">
            <input mdInput type="text" placeholder="手机号／姓名搜索" name="queryKey" [(ngModel)]="userTable.queryKey">
          </md-input-container>
          <button md-icon-button color="primary" type="button" (click)="getAuditedDoctors(0)">
            <md-icon>search</md-icon>
          </button>
          <button md-icon-button color="primary" type="button" (click)="reset0()">
            <md-icon>autorenew</md-icon>
          </button>
        </form>
        <div *ngIf="!userTable.lists&&userTable.loading">Loading...</div>
        <div *ngIf="!userTable.lists&&!userTable.loading&&!!userTable.errorMessage" class="center">
          {{userTable.errorMessage}}
        </div>
        <div *ngIf="userTable.lists">
          <div class="content__table">
            <app-lib-table
              [table]="userTable"
              (handleEmmit)="gotoHandle($event)"
              (pageEmitter)="getAuditedDoctors($event)"
            ></app-lib-table>
          </div>
        </div>
      </md-tab>
      <md-tab label="待审核">
        <form style="padding: 0 16px">
          <md-input-container floatPlaceholder="never">
            <input mdInput type="text" placeholder="手机号／姓名搜索" name="queryKey" [(ngModel)]="auditingTable.queryKey">
          </md-input-container>
          <button md-icon-button color="primary" type="button" (click)="getAuditingDoctors(0)">
            <md-icon>search</md-icon>
          </button>
          <button md-icon-button color="primary" type="button" (click)="reset1()">
            <md-icon>autorenew</md-icon>
          </button>
        </form>
        <div *ngIf="!auditingTable.lists&&auditingTable.loading">Loading...</div>
        <div *ngIf="!auditingTable.lists&&!auditingTable.loading&&!!auditingTable.errorMessage" class="center">
          {{auditingTable.errorMessage}}
        </div>
        <div *ngIf="auditingTable.lists">
          <div class="content__table">
            <app-lib-table
              [table]="auditingTable"
              (handleEmmit)="gotoHandle($event)"
              (pageEmitter)="getAuditingDoctors($event)"
            ></app-lib-table>
          </div>
        </div>
      </md-tab>
      <md-tab label="审核失败">
        <form style="padding: 0 16px">
          <md-input-container floatPlaceholder="never">
            <input mdInput type="text" placeholder="手机号／姓名搜索" name="queryKey" [(ngModel)]="failureTable.queryKey">
          </md-input-container>
          <button md-icon-button color="primary" type="button" (click)="getFailureDoctors(0)">
            <md-icon>search</md-icon>
          </button>
          <button md-icon-button color="primary" type="button" (click)="reset2()">
            <md-icon>autorenew</md-icon>
          </button>
        </form>
        <div *ngIf="!failureTable.lists&&failureTable.loading">Loading...</div>
        <div *ngIf="!failureTable.lists&&!failureTable.loading&&!!failureTable.errorMessage" class="center">
          {{failureTable.errorMessage}}
        </div>
        <div *ngIf="failureTable.lists">
          <div class="content__table">
            <app-lib-table
              [table]="failureTable"
              (handleEmmit)="gotoHandle($event)"
              (pageEmitter)="getFailureDoctors($event)"
            ></app-lib-table>
          </div>
        </div>
      </md-tab>
    </md-tab-group>
    <div class="count" *ngIf="count">
      <md-chip color="accent" selected="true">{{count}}</md-chip>
    </div>
  </div>
</app-container>
