.content {
  position: relative;
}

.count {
  position: absolute;
  top: 10px;
  left: 270px;
}

.count > md-chip {
  padding: 4px 5px;
  font-size: 12px;
}

@media (max-width: 600px) {
  .count {
    left: 138px;
  }
}
