<app-container [config]="containerConfig"  *ngIf="containerConfig">
  <div class="addition">
    <button mat-raised-button (click)="newData()">新增商品</button>
  </div>
  <div class="content">
        <div *ngIf="!commodityTable.lists&&commodityTable.loading">Loading...</div>
        <div *ngIf="!commodityTable.lists&&!commodityTable.loading&&!!commodityTable.errorMessage" class="center">
          {{commodityTable.errorMessage}}
        </div>
        <div *ngIf="commodityTable.lists">
          <div class="content__table">
            <app-lib-table
              [table]="commodityTable"
              (handleEmmit)="gotoHandle($event)"
              (pageEmitter)="getCommodity($event)"
            ></app-lib-table>
          </div>
        </div>
  </div>
</app-container>
