<app-container [config]="containerConfig" *ngIf="containerConfig">
  <div class="content">
    <form style="padding: 16px">
      <mat-form-field floatPlaceholder="always">
        <input matInput type="text" placeholder="手机号／姓名搜索" name="queryKey" [(ngModel)]="familyAccountTable.queryKey">
      </mat-form-field>
      <button mat-icon-button color="primary" type="button" (click)="getFamilyAccounts(0)">
        <mat-icon>search</mat-icon>
      </button>
      <button mat-icon-button color="primary" type="button" (click)="reset()">
        <mat-icon>autorenew</mat-icon>
      </button>
    </form>
    <div *ngIf="!familyAccountTable.lists&&familyAccountTable.loading">Loading...</div>
    <div *ngIf="!familyAccountTable.lists&&!familyAccountTable.loading&&!!familyAccountTable.errorMessage"
         class="center">
      {{familyAccountTable.errorMessage}}
    </div>
    <div *ngIf="familyAccountTable.lists">
      <div class="content__table">
        <app-lib-table
          [table]="familyAccountTable"
          (pageEmitter)="getFamilyAccounts($event)"
        ></app-lib-table>
      </div>
    </div>
  </div>
</app-container>
