<app-container [config]="containerConfig" *ngIf="containerConfig">
  <div class="addition">
    <button mat-raised-button (click)="newData()">新增广告位</button>
  </div>
  <div class="content">
    <div *ngIf="!adPatientTable.lists&&adPatientTable.loading">Loading...</div>
    <div *ngIf="!adPatientTable.lists&&!adPatientTable.loading&&!!adPatientTable.errorMessage" class="center">
      {{adPatientTable.errorMessage}}
    </div>
    <div *ngIf="adPatientTable.lists">
      <div class="content__table">
        <app-lib-table
          [table]="adPatientTable"
          (handleEmmit)="gotoHandle($event)"
          (pageEmitter)="getAdPatient($event)"
        ></app-lib-table>
      </div>
    </div>
  </div>
</app-container>
