<app-container [config]="containerConfig" *ngIf="containerConfig">
  <div class="content">
    <!--<mat-tab-group dynamicHeight="true">-->
    <!--<mat-tab label="任务积分列表">-->
    <div *ngIf="!missionIntegralTable.lists&&missionIntegralTable.loading">Loading...</div>
    <div *ngIf="!missionIntegralTable.lists&&!missionIntegralTable.loading&&!!missionIntegralTable.errorMessage"
         class="center">
      {{missionIntegralTable.errorMessage}}
    </div>
    <div *ngIf="missionIntegralTable.lists">
      <div class="content__table">
        <table class="table">
          <thead>
          <tr>
            <th *ngFor="let title of missionIntegralTable.titles">{{title.name}}</th>
          </tr>
          </thead>
          <tbody *ngIf="missionIntegralTable.lists">
          <tr *ngFor="let list of missionIntegralTable.lists">
            <td *ngFor="let title of missionIntegralTable.titles" [ngSwitch]="title.controlType"
                data-title="{{title.name}}">
              <div *ngSwitchCase="controlType.text" [style.minWidth.px]="title.minwidth"
                   [style.maxWidth.px]="title.maxwidth"
                   class="table__content">
                <span>{{list[title.key] == 0 ? list[title.key] : list[title.key] || ''}}</span>
              </div>
              <div *ngSwitchCase="controlType.button" [style.minWidth.px]="title.minwidth" class="table__content">
                <span (click)="gotoHandle(list[title.key],title.key,list)" class="table__option">{{title.option || list[title.key] || title.name }}</span>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!--</mat-tab>-->
    <!--</mat-tab-group>-->
  </div>
</app-container>

