<div style="height: 400px;width: 400px;">
  <h3 style="padding-left:10px;">{{option.name}}-风险评估结果</h3>
  <p style="font-weight:bold;font-size:14px;padding:10px;">{{option.year}}年风险评估结果为{{option.result}}，风险等级{{option.level}}</p>
  <p style="padding:10px;"><span style="font-weight:bold;font-size:14px;">性别:</span>{{option.sex}}</p>
  <p style="padding:10px;"><span style="font-weight:bold;font-size:14px;">年龄:</span>{{option.age}}</p>
  <p style="padding:10px;"><span style="font-weight:bold;font-size:14px;">是否吸烟:</span>{{option.smoke}}</p>
  <p style="padding:10px;"><span style="font-weight:bold;font-size:14px;">高压:</span>{{option.systolic}}</p>
  <p style="padding:10px;"><span style="font-weight:bold;font-size:14px;">是否治疗:</span>{{option.cure}}</p>
  <p style="padding:10px;"><span style="font-weight:bold;font-size:14px;">高密度脂蛋白:</span>{{option.hdl}}</p>
  <p style="padding:10px;"><span style="font-weight:bold;font-size:14px;">总胆固醇:</span>{{option.tc}}</p>
</div>

