<app-container [config]="containerConfig" *ngIf="containerConfig">
  <div class="content">
    <mat-tab-group dynamicHeight="true">
      <mat-tab label="患者活跃度统计">
        <form style="padding: 16px">
          <mat-form-field floatPlaceholder="always">
            <input matInput type="text" placeholder="手机号／姓名搜索" name="queryKey"
                   [(ngModel)]="userActivenessTable.queryKey">
          </mat-form-field>
          <app-search [type]="'0'" [label]="'请选择日期'" [(value)]="queryUserDate"></app-search>
          <button mat-icon-button color="primary" type="button" (click)="getUserActivenessStatistics(0)">
            <mat-icon>search</mat-icon>
          </button>
          <button mat-icon-button color="primary" type="button" (click)="reset0()">Today</button>
          <button mat-icon-button color="primary" type="button" (click)="all0()">All</button>
        </form>
        <div *ngIf="!userActivenessTable.lists&&userActivenessTable.loading">Loading...</div>
        <div *ngIf="!userActivenessTable.lists&&!userActivenessTable.loading&&!!userActivenessTable.errorMessage"
             class="center">
          {{userActivenessTable.errorMessage}}
        </div>
        <div *ngIf="userStatistics">
          <p style="text-align: center;font-weight: 700">
            <span style="padding-right: 15px">当日启动总次数：{{userStatistics.loginTotal}}</span>
            <span style="padding-right: 15px">当日启动人数：{{userStatistics.loginCount}}</span>
            <span style="padding-right: 15px">当日启动率：{{userStatistics.loginRate}}</span>
            <span style="padding-right: 15px">人均启动数：{{userStatistics.loginAverage}}</span>
          </p>
        </div>
        <div *ngIf="userActivenessTable.lists">
          <div class="content__table">
            <app-lib-table
              [table]="userActivenessTable"
              (pageEmitter)="getUserActivenessStatistics($event)"
            ></app-lib-table>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="医生活跃度统计">
        <form style="padding: 16px">
          <mat-form-field floatPlaceholder="always">
            <input matInput type="text" placeholder="手机号／姓名搜索" name="queryKey"
                   [(ngModel)]="doctorActivenessTable.queryKey">
          </mat-form-field>
          <app-search [type]="'0'" [label]="'请选择日期'" [(value)]="queryDoctorDate"></app-search>
          <button mat-icon-button color="primary" type="button" (click)="getDoctorActivenessStatistics(0)">
            <mat-icon>search</mat-icon>
          </button>
          <button mat-icon-button color="primary" type="button" (click)="reset1()">Today</button>
          <button mat-icon-button color="primary" type="button" (click)="all1()">All</button>
        </form>
        <div *ngIf="!doctorActivenessTable.lists&&doctorActivenessTable.loading">Loading...</div>
        <div *ngIf="!doctorActivenessTable.lists&&!doctorActivenessTable.loading&&!!doctorActivenessTable.errorMessage"
             class="center">
          {{doctorActivenessTable.errorMessage}}
        </div>
        <div *ngIf="doctorStatistics">
          <p style="text-align: center;font-weight: 700">
            <span style="padding-right: 15px">当日启动总次数：{{doctorStatistics.loginTotal}}</span>
            <span style="padding-right: 15px">当日启动人数：{{doctorStatistics.loginCount}}</span>
            <span style="padding-right: 15px">当日启动率：{{doctorStatistics.loginRate}}</span>
            <span style="padding-right: 15px">人均启动数：{{doctorStatistics.loginAverage}}</span>
          </p>
        </div>
        <div *ngIf="doctorActivenessTable.lists">
          <div class="content__table">
            <app-lib-table
              [table]="doctorActivenessTable"
              (pageEmitter)="getDoctorActivenessStatistics($event)"
            ></app-lib-table>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</app-container>

