<h1 mat-dialog-title>编辑</h1>
<div mat-dialog-content style="width: 700px;">
  <div *ngIf="option">
    <div class="integral">
      项目:{{name}}
    </div>
    <form *ngIf="form" [formGroup]="form" (ngSubmit)="dialogRef.close(form.value)">
      <!--<app-input-text [form]="form" [data]="config.integral" [value]="config.integral.value"></app-input-text>-->
      <div class="integral">
        <mat-form-field class="example-full-width"  style="width: 100%;">
          <input matInput [placeholder]="config.integral.label"  formControlName="integral" [(ngModel)]="config.integral.value" type="number">
        </mat-form-field>
      </div>

      <div class="integral">
        <mat-select [placeholder]="config.status.label" formControlName="status" [(ngModel)]="config.status.value"  style="width: 100%;">
          <mat-option *ngFor="let opt of config.status.options" [value]="opt.id" style="width: 100%;">
            {{ opt.name }}
          </mat-option>
        </mat-select>
      </div>
      <div class="integral">
        <input  type="hidden" formControlName="tag" [(ngModel)]="config.tag.value">
      </div>
      <div class="integral">
        <button mat-raised-button color="primary" [disabled]="!form.valid">保存</button>
        <button mat-raised-button type="reset">重置</button>
      </div>
    </form>
    <div *ngIf="errMsg">{{errMsg}}</div>
  </div>
</div>
