<div class="content-wrapper">
  <div class="content-location">
    <i>你的位置</i>
    <i class="fa fa-angle-right" aria-hidden="true" style="padding: 0 10px;"></i> {{title}}
  </div>
  <div class="content-title">
    {{title}} － <strong>{{subTitle}}</strong>
  </div>
  <div class="content-addition">
    <button class="ui button" (click)="newHealthOrganization()">新增机构</button>
  </div>
  <div class="table-title">{{subTitle}}</div>
  <div class="table-content">
    <dynamic-table [titles]="healthOrganizationTable.titles" [lists]="healthOrganizationTable.lists" (handleEmmit)="gotoHandle($event)"></dynamic-table>
  </div>
</div>
<health-organization-edit *ngIf="enableEdit" [(enable)]="enableEdit" [data]="organization" (handleEmit)="handleSuccess($event)"></health-organization-edit>
<modal-show *ngIf="enableShow" [(enable)]="enableShow" [title]="titleShow" [message]="message"></modal-show>

