<app-container [config]="containerConfig"  *ngIf="containerConfig">
  <div class="addition">
    <button mat-raised-button (click)="newData()">新增第三方机构</button>
  </div>
  <div class="content">
    <div *ngIf="!healthOrganizationTable.lists&&healthOrganizationTable.loading">Loading...</div>
    <div *ngIf="!healthOrganizationTable.lists&&!healthOrganizationTable.loading&&!!healthOrganizationTable.errorMessage" class="center">
      {{healthOrganizationTable.errorMessage}}
    </div>
    <div *ngIf="healthOrganizationTable.lists">
      <div class="content__table">
        <app-lib-table
          [table]="healthOrganizationTable"
          (handleEmmit)="gotoHandle($event)"
          (pageEmitter)="getHealthOrganization($event)"
        ></app-lib-table>
      </div>
    </div>
  </div>
</app-container>
