<div class="content-wrapper">
  <div class="content-location">
    <i>你的位置</i>
    <i class="fa fa-angle-right" aria-hidden="true" style="padding: 0 10px;"></i> {{title}}
  </div>
  <div class="content-title">
    {{title}} － <strong>{{subTitle}}</strong>
  </div>
  <div class="content-addition">
    <button class="ui button" (click)="newPackageService()">新增套餐包</button>
  </div>
  <div class="table-title">{{subTitle}}</div>
  <div class="table-content">
    <div *ngIf="!packageServiceTable.lists&&packageServiceTable.loading">Loading...</div>
    <dynamic-table [titles]="packageServiceTable.titles" [lists]="packageServiceTable.lists" (handleEmmit)="gotoHandle($event)"></dynamic-table>
    <div *ngIf="!packageServiceTable.lists&&!packageServiceTable.loading" class="error-message">
        <p>{{packageServiceTable.errorMessage}}</p>
        <button *ngIf="packageServiceTable.errorMessage" class="ui button small" (click)="refresh()">点击刷新</button>
    </div>
  </div>
</div>
<package-service-edit 
          *ngIf="enableEdit" 
          [(enable)]="enableEdit"  
          [data]="package" 
          [DoctorServiceList]="DoctorServiceList" 
          [HealthServiceList]="HealthServiceList"
          (handleEmit)="handleSuccess($event)"
></package-service-edit>
<modal-show *ngIf="enableShow" [(enable)]="enableShow" [title]="titleShow" [message]="message"></modal-show>

