@import '../../../libs/theme/theme';

.grid {
  height: calc(100vh - 218px);
}

.container {
  width: 100%;
  height: 100%;
}

.menu__container {
  width: 100%;
  height: calc(100vh - 280px);
  overflow-y: scroll; 
}

.menu__list {
  // overflow-y: scroll;
}

.tree__title {
  height: 55px;
  line-height: 40px;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid $color-border-dark;
  .p {
    display: inline-block;
    padding-right: 30px;
  }
  .button {
    float: right;
  }
}

.tree__p {
  height: 40px;
  width: auto;
  color: $color-text-secondary;
  overflow: hidden;
}

.tree__icon {
  float: left;
  height: 40px;
  line-height: 40px;
  margin-right: 10px;
  cursor: pointer;
}

.tree__icon.last {
  cursor: initial;
}

.tree__span {
  float: left;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding-right: 30px;
  font-size: 16px;
  cursor: pointer;
}

.tree__span.last {
  cursor: initial;
}

.tree__span.active {
  color: $color-primary;
  font-size: 18px;
}

.tree__list {
  padding-left: 30px;
}
