<app-container [config]="containerConfig">
  <div class="content">
    <mat-grid-list cols="2" rowHeight="fit" gutterSize="30" class="grid">
      <mat-grid-tile>
        <div class="container">
          <div class="tree__title clear">
            <h3 class="p">菜单列表</h3>
            <button class="button" mat-button color="primary" (click)="offData(menuList)">全部折叠</button>
            <button class="button" mat-button color="primary" (click)="openData(menuList)">全部展开</button>
          </div>
          <div class="menu__container">
            <div class="menu__list" *ngIf="menuList">
              <div class="clear tree__p">
                <mat-icon class="tree__icon" (click)="toggle(menuList)" *ngIf="!menuList.open">add</mat-icon>
                <mat-icon class="tree__icon" (click)="toggle(menuList)" *ngIf="menuList.open">remove</mat-icon>
                <p class="tree__span" [class.active]="menuList.active"
                   (click)="newMenu(menuList.id,menuList.name, menuList.level)">
                  {{menuList.name}}</p>
              </div>
              <ul *ngIf="menuList.sysSubMenus&&menuList.open" class="tree__list">
                <li *ngFor="let menu of menuList.sysSubMenus">
                  <div class="clear tree__p">
                    <mat-icon class="tree__icon" (click)="toggle(menu)" *ngIf="!menu.open">add</mat-icon>
                    <mat-icon class="tree__icon" (click)="toggle(menu)" *ngIf="menu.open">remove</mat-icon>
                    <p class="tree__span" [class.active]="menu.active" (click)="newMenu(menu.id, menu.name, menu.level)">
                      {{menu.name}}</p>
                    <button mat-icon-button color="primary" (click)="updateMenu(menu)">
                      <mat-icon aria-label="edit">mode_edit</mat-icon>
                    </button>
                    <button mat-icon-button color="warn" (click)="deleteMenu(menu.id, menu.name)">
                      <mat-icon aria-label="delete">delete_forever</mat-icon>
                    </button>
                  </div>
                  <ul *ngIf="menu.sysSubMenus&&menu.open" class="tree__list">
                    <li *ngFor="let subMenu of menu.sysSubMenus">
                      <div class="clear tree__p">
                        <mat-icon class="tree__icon" (click)="toggle(subMenu)" *ngIf="!subMenu.open">add</mat-icon>
                        <mat-icon class="tree__icon" (click)="toggle(subMenu)" *ngIf="subMenu.open">remove</mat-icon>
                        <p class="tree__span" [class.active]="subMenu.active"
                           (click)="newMenu(subMenu.id, subMenu.name, subMenu.level)">
                          {{subMenu.name}}
                        </p>
                        <button mat-icon-button color="primary" (click)="updateMenu(subMenu)">
                          <mat-icon aria-label="edit">mode_edit</mat-icon>
                        </button>
                        <button mat-icon-button color="warn" (click)="deleteMenu(subMenu.id, subMenu.name)">
                          <mat-icon aria-label="delete">delete_forever</mat-icon>
                        </button>
                      </div>
                      <ul *ngIf="subMenu.sysSubMenus&&subMenu.open" class="tree__list">
                        <li *ngFor="let ssubMenu of subMenu.sysSubMenus">
                          <div class="clear tree__p">
                            <mat-icon class="tree__icon last">remove</mat-icon>
                            <p class="tree__span last">{{ssubMenu.name}}</p>
                            <button mat-icon-button color="primary" (click)="updateMenu(ssubMenu)">
                              <mat-icon aria-label="edit">mode_edit</mat-icon>
                            </button>
                            <button mat-icon-button color="warn" (click)="deleteMenu(ssubMenu.id, ssubMenu.name)">
                              <mat-icon aria-label="delete">delete_forever</mat-icon>
                            </button>
                          </div>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="container" *ngIf="form">
          <div class="tree__title clear">
            <h3 class="p">{{title}}</h3>
          </div>
          <!--<app-form [formDatas]="form" (formValues)="getValues($event)"></app-form>-->
          <form #f="ngForm" (ngSubmit)="getValues(f.value, form.parentId, form.id)">
            <div class="input-container" *ngIf="form.parentName">
              <mat-form-field floatPlaceholder="always" style="width: 100%">
                <input matInput placeholder="父菜单名称" name="pname" [value]="form.parentName" disabled>
              </mat-form-field>
            </div>
            <!--<div class="input-container">-->
              <!--<mat-form-field floatPlaceholder="always" style="width: 100%">-->
                <!--<mat-select placeholder="菜单类型" name="type" [(ngModel)]="form.level" required>-->
                  <!--<mat-option value="1">菜单</mat-option>-->
                  <!--<mat-option value="2">操作</mat-option>-->
                <!--</mat-select>-->
              <!--</mat-form-field>-->
            <!--</div>-->
            <div class="input-container" *ngIf="form.level==3">
              <mat-form-field floatPlaceholder="always" style="width: 100%">
                <mat-select placeholder="菜单名称" name="name" [(ngModel)]="form.name" required>
                  <mat-option value="查看">查看</mat-option>
                  <mat-option value="编辑">编辑</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="input-container" *ngIf="form.level==1 || form.level==2">
              <mat-form-field floatPlaceholder="always" style="width: 100%">
                <input matInput placeholder="菜单名称" name="name" [(ngModel)]="form.name" required>
              </mat-form-field>
            </div>
            <div class="input-container" *ngIf="form.level==2">
              <mat-form-field floatPlaceholder="always" style="width: 100%">
                <input matInput placeholder="菜单链接" name="url" [(ngModel)]="form.url" required>
              </mat-form-field>
            </div>
            <div class="input-container" *ngIf="form.level==1 || form.level==2">
              <mat-form-field floatPlaceholder="always" style="width: 100%">
                <input matInput placeholder="菜单描述" name="description" [(ngModel)]="form.description" required>
              </mat-form-field>
            </div>
            <div class="input-container" *ngIf="form.level==1 || form.level==2" style="display: none">
              <mat-form-field floatPlaceholder="always" style="width: 100%">
                <input matInput placeholder="菜单创建人" name="createBy" [(ngModel)]="username" required>
              </mat-form-field>
            </div>
            <div class="input-container" *ngIf="form.level==1 || form.level==2" style="display: none">
              <mat-form-field floatPlaceholder="always" style="width: 100%">
                <input matInput placeholder="菜单级别" name="level" [(ngModel)]="form.level" required>
              </mat-form-field>
            </div>
            <!--<div class="input-container" *ngIf="form.level==1 || form.level==2" style="display: none">-->
              <!--<mat-form-field floatPlaceholder="always" style="width: 100%">-->
                <!--<input matInput placeholder="菜单级别" name="sysMenuId" [(ngModel)]="form.sysMenuId" required>-->
              <!--</mat-form-field>-->
            <!--</div>-->

            <!--<div class="input-container" *ngIf="form.level==1">-->
              <!--<mat-form-field floatPlaceholder="always" style="width: 100%">-->
                <!--<input matInput placeholder="菜单排序" name="sort" [(ngModel)]="form.sort" required>-->
              <!--</mat-form-field>-->
            <!--</div>-->
            <div class="input-container">
              <button mat-raised-button color="primary" [disabled]="!f.valid">保存</button>
            </div>
          </form>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</app-container>
