<app-container [config]="containerConfig"  *ngIf="containerConfig">
  <div class="addition">
    <button md-raised-button (click)="newData()">新增Push</button>
  </div>
  <div class="content">
    <md-tab-group dynamicHeight="true" [selectedIndex]="tab | async" (selectedIndexChange)="change($event)">
      <md-tab label="患者端">
        <div *ngIf="!operationPushTable.lists&&operationPushTable.loading">Loading...</div>
        <div *ngIf="!operationPushTable.lists&&!operationPushTable.loading&&!!operationPushTable.errorMessage" class="center">
          {{operationPushTable.errorMessage}}
        </div>
        <div *ngIf="operationPushTable.lists">
          <div class="content__table">
            <app-lib-table
              [table]="operationPushTable"
              (handleEmmit)="gotoHandle($event)"
              (pageEmitter)="getOperationPushUser($event)"
            ></app-lib-table>
          </div>
        </div>
      </md-tab>
      <md-tab label="医生端">
        <div *ngIf="!operationPushDoctorTable.lists&&operationPushDoctorTable.loading">Loading...</div>
        <div *ngIf="!operationPushDoctorTable.lists&&!operationPushDoctorTable.loading&&!!operationPushDoctorTable.errorMessage" class="center">
          {{operationPushDoctorTable.errorMessage}}
        </div>
        <div *ngIf="operationPushDoctorTable.lists">
          <div class="content__table">
            <app-lib-table
              [table]="operationPushDoctorTable"
              (handleEmmit)="gotoHandle($event)"
              (pageEmitter)="getOperationPushDoctor($event)"
            ></app-lib-table>
          </div>
        </div>
      </md-tab>
    </md-tab-group>
  </div>
</app-container>

