<app-container [config]="containerConfig" *ngIf="containerConfig">
  <div class="content">
    <form *ngIf="form" [formGroup]="form" (ngSubmit)="getValues(form.value)">
      <app-input-file [form]="form" [data]="config.iconUrl" [value]="config.iconUrl.value"></app-input-file>
      <app-input-text [form]="form" [data]="config.name" [value]="config.name.value"></app-input-text>
      <app-input-text [form]="form" [data]="config.times" [value]="config.times.value"></app-input-text>
      <app-input-radio [form]="form" [data]="config.enable" [value]="config.enable.value"></app-input-radio>
      <app-input-radio [form]="form" [data]="config.unitId" [value]="config.unitId.value"></app-input-radio>
      <app-input-text [form]="form" [data]="config.numbers" [value]="numbers" class="hidden"></app-input-text>
      <div style="padding-bottom: 1em">
        <mat-form-field>
          <input matInput placeholder="添加服务时长/价格" name="number" #number>
        </mat-form-field>
        <button mat-icon-button type="button" (click)="addNumber(number.value)">
          <mat-icon>add</mat-icon>
        </button>
        <div>
          <span *ngFor="let num of numbers" style="padding-right: 10px">
            {{num}}<mat-icon (click)="delNumber(num)" style="padding-left: 5px">close</mat-icon>
          </span>
        </div>
      </div>
      <app-input-textarea [form]="form" [data]="config.content" [value]="config.content.value">></app-input-textarea>
      <app-input-textarea [form]="form" [data]="config.operationalRemark" [value]="config.operationalRemark.value">></app-input-textarea>
      <button mat-raised-button color="primary" [disabled]="!form.valid">保存</button>
      <button mat-raised-button type="reset">重置</button>
    </form>
  </div>
</app-container>




