<div class="content-wrapper">
  <div class="content-location">
    <i>你的位置</i>
    <i class="fa fa-angle-right" aria-hidden="true" style="padding: 0 10px;"></i> {{title}}
  </div>
  <div class="content-title">
    {{title}} － <strong>{{subTitle}}</strong>
  </div>
  <div class="content-addition">
    <button class="ui button" (click)="export()">导出</button>
    <button class="ui button" (click)="newUser()">新增患者</button>
  </div>
  <div class="table-title">{{subTitle}}</div>
  <div class="table-content">
    <form class="ui small form" #f="ngForm" (ngSubmit)="getUsers(0)">
      <div class="inline fields">
        <div class="field">
          <input type="text" placeholder="手机号／姓名搜索" name="queryKey" [(ngModel)]="queryKey">
        </div>
        <div class="field" style="min-width: 187px">
          <select id="list" placeholder="是否绑定微信服务号" class="ui fluid dropdown" name="queryBind" [(ngModel)]="queryBind">
            <option value="">是否绑定微信服务号</option>
            <option value="true">是</option>
            <option value="false">否</option>
          </select>
        </div>
        <div class="field">
          <button type="submit" class="ui small button">搜索</button>
        </div>
        <div class="field">
          <button type="button" class="ui small button" (click)="refresh()">全部</button>
        </div>
      </div>
    </form>
    <div *ngIf="!userTable.lists&&userTable.loading">Loading...</div>
    <div *ngIf="userTable.lists">
      <dynamic-table [titles]="userTable.titles" [lists]="userTable.lists" (handleEmmit)="gotoHandle($event)"></dynamic-table>
      <div class="table-nav" style="text-align: right">
        <page-menu [totalPages]="userTable.totalPage" [currentPage]="userTable.currentPage" (pageEmitter)="getUsers($event)"></page-menu>
      </div>
    </div>
    <div class="userVia">
      <table id="table">
        <thead>
          <tr>
            <th *ngFor="let title of userTable.titles">{{title.name}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let list of userAllTable.lists">
            <td *ngFor="let title of userTable.titles" [ngSwitch]="title.controlType" data-title="{{title.name}}">
              <div *ngSwitchCase="'text'" [style.minWidth.px]="title.minwidth" [style.maxWidth.px]="title.maxwidth">
                <span>{{list[title.key] == 0 ? list[title.key] : list[title.key] || ''}}</span>
              </div>
              <div *ngSwitchCase="'showdetail'" [style.minWidth.px]="title.minwidth">
                    {{list[title.key]}}
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="!userTable.lists&&!userTable.loading" class="error-message">
      <p>{{userTable.errorMessage}}</p>
      <button *ngIf="userTable.errorMessage" class="ui button small" (click)="refresh()">点击刷新</button>
    </div>
  </div>
</div>
<user-edit *ngIf="enableEdit" [(enable)]="enableEdit" [data]="user" [hospitalList]="hospitalTable" (handleEmit)="handleSuccess($event)"></user-edit>
<integral-detail *ngIf="enableDetail" [(enable)]="enableDetail" [data]="integral"></integral-detail>
<modal-show *ngIf="enableShow" [title]="'提示信息'" [message]="message" [(enable)]="enableShow"></modal-show>
<div  class="ui dimmer modals page visible  active modal-show" [style.display]="exportShow ? 'block' : 'none'">
  <div class="ui modal transition visible active">
    <div class="header">
      提示信息
    </div>
    <div class="content">
      <p *ngIf="!success">正在导出，请稍后...</p>
      <p *ngIf="success">导出完成</p>
    </div>
    <div class="actions" [style.display]="success ? 'block' : 'none'">
      <a class="ui teal right button userExcel"  download="download.xls" href="#" (click)="close()">
        确定
      </a>
    </div>
  </div>
</div>
