<app-container [config]="containerConfig"  *ngIf="containerConfig">
  <div class="addition">
    <button mat-raised-button (click)="export()">导出</button>
    <button mat-raised-button (click)="newData()" >新增患者</button>
  </div>
  <div class="content">
    <mat-tab-group dynamicHeight="true" [selectedIndex]="tab | async" (selectedIndexChange)="change($event)">
      <mat-tab label="患者信息列表">
        <form style="padding: 0 16px">
          <mat-input-container floatPlaceholder="never">
            <input matInput type="text" placeholder="手机号／姓名搜索" name="queryKey" [(ngModel)]="userTable.queryKey">
          </mat-input-container>
          <mat-select placeholder="是否绑定微信服务号" name="queryBind" [(ngModel)]="queryBind" style="margin: 0 1em">
            <mat-option [value]="''">全部</mat-option>
            <mat-option [value]="true">是</mat-option>
            <mat-option [value]="false">否</mat-option>
          </mat-select>
          <button mat-icon-button color="primary" type="button" (click)="getUsers(0)">
            <mat-icon>search</mat-icon>
          </button>
          <button mat-icon-button color="primary" type="button" (click)="reset()">
            <mat-icon>autorenew</mat-icon>
          </button>
        </form>
        <div *ngIf="!userTable.lists&&userTable.loading">Loading...</div>
        <div *ngIf="!userTable.lists&&!userTable.loading&&!!userTable.errorMessage" class="center">
          {{userTable.errorMessage}}
        </div>
        <div *ngIf="userTable.lists">
          <div class="content__table">
            <app-lib-table
              [table]="userTable"
              (handleEmmit)="gotoHandle($event)"
              (pageEmitter)="getUsers($event)"
            ></app-lib-table>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
    <!--<div class="count">-->
      <!--<mat-chip color="accent" selected="true">32</mat-chip>-->
    <!--</div>-->
  </div>
</app-container>
