<app-container [config]="containerConfig" *ngIf="containerConfig">
  <div class="addition">
    <button md-raised-button (click)="newData()">新增随访计划模版</button>
  </div>
  <div class="content">
    <form style="padding: 2em 1em" *ngIf="followUpPlanTable&&discomfortTypes">
      <md-select placeholder="请选择随访计划模版类型" [(ngModel)]="followUpPlanTable.queryKey" name="type" style="width: 100%">
        <md-option [value]="opt.id" *ngFor="let opt of discomfortTypes" (click)="getFollowUpPlans()">
          {{opt.name}}
        </md-option>
      </md-select>
    </form>
    <div *ngIf="!followUpPlanTable.lists&&followUpPlanTable.loading">Loading...</div>
    <div *ngIf="!followUpPlanTable.lists&&!followUpPlanTable.loading&&!!followUpPlanTable.errorMessage" class="center">
      {{followUpPlanTable.errorMessage}}
    </div>
    <div *ngIf="followUpPlanTable.lists">
      <div class="content__table">
        <app-lib-table
          [table]="followUpPlanTable"
          (handleEmmit)="gotoHandle($event)"
        ></app-lib-table>
      </div>
    </div>
  </div>
</app-container>
