<div class="content-wrapper">
  <div class="content-location">
    <i>你的位置</i>
    <i class="fa fa-angle-right" aria-hidden="true" style="padding: 0 10px;"></i> {{title}}
  </div>
  <div class="content-title">
    {{title}} － <strong>{{subTitle}}</strong>
  </div>
  <div class="content-addition">
    <button class="ui button" (click)="newFollowUpPlan()">新增随访项</button>
  </div>
  <tab-set [menuClass]="'teal five item inverted content-tab'">
    <tab title="一个月">
      <div *ngIf="followUpPlanTable1.loading">Loading...</div>
      <dynamic-table [titles]="followUpPlanTable1.titles" [lists]="followUpPlanTable1.lists" (handleEmmit)="gotoHandle($event)"></dynamic-table>
    </tab>
    <tab title="三个月">
      <dynamic-table [titles]="followUpPlanTable2.titles" [lists]="followUpPlanTable2.lists" (handleEmmit)="gotoHandle($event)"></dynamic-table>
    </tab>
    <tab title="六个月">
      <dynamic-table [titles]="followUpPlanTable3.titles" [lists]="followUpPlanTable3.lists" (handleEmmit)="gotoHandle($event)"></dynamic-table>
    </tab>
    <tab title="九个月">
      <dynamic-table [titles]="followUpPlanTable4.titles" [lists]="followUpPlanTable4.lists" (handleEmmit)="gotoHandle($event)"></dynamic-table>
    </tab>
    <tab title="十二个月">
      <dynamic-table [titles]="followUpPlanTable5.titles" [lists]="followUpPlanTable5.lists" (handleEmmit)="gotoHandle($event)"></dynamic-table>
    </tab>
    <div *ngIf="!followUpPlanTable1.loading" class="error-message">
        <p>{{followUpPlanTable1.errorMessage}}</p>
        <button *ngIf="followUpPlanTable1.errorMessage" class="ui button small" (click)="refresh()">点击刷新</button>
    </div>
  </tab-set>
</div>
<follow-edit *ngIf="enableEdit" [(enable)]="enableEdit" [data]="follow" (handleEmit)="handleSuccess($event)"></follow-edit>
<modal-show *ngIf="enableShow" [title]="titleShow" [message]="message" [(enable)]="enableShow"></modal-show>
<modal-edit *ngIf="enableProcess" [(enable)]="enableProcess" [title]="'操作提示'" [message]="processMessage">
  <button class="ui button blue" (click)="process()">确定</button>
  <button class="ui button" (click)="processCancel()">取消</button>
</modal-edit>
