<div class="content-wrapper">
  <div class="content-location">
    <i>你的位置</i>
    <i class="fa fa-angle-right" aria-hidden="true" style="padding: 0 10px;"></i> {{title}}
  </div>
  <div class="content-title">
    {{title}} － <strong>{{subTitle}}</strong>
  </div>
  <div class="table-title">{{subTitle}}</div>
  <div class="table-content">
    <form class="ui small form" style="margin: 15px 0 30px" #uf="ngForm" (ngSubmit)="refresh()">
      <div class="inline fields">
        <div class="field">
          <input type="text" placeholder="微信昵称/手机号/姓名" name="queryUserKey" [(ngModel)]="queryKey">
        </div>
        <div class="field" style="min-width: 187px">
          <select id="list" placeholder="筛选风险评估结果" class="ui fluid dropdown" name="queryBind" [(ngModel)]="queryBind">
            <option value="">筛选风险评估结果</option>
            <option value="0">低</option>
            <option value="1">中</option>
            <option value="2">高</option>
          </select>
        </div>
        <div class="field">
          <button type="submit" class="ui small button">搜索</button>
        </div>
        <div class="field">
          <button type="button" class="ui small button" (click)="reset()">全部</button>
        </div>
      </div>
    </form>
    <div *ngIf="!assessmentRiskTable.lists&&assessmentRiskTable.loading">Loading...</div>
    <dynamic-table [titles]="assessmentRiskTable.titles" [lists]="assessmentRiskTable.lists" (handleEmmit)="gotoHandle($event)"></dynamic-table>
    <div class="table-nav" style="text-align: right">
      <page-menu *ngIf="assessmentRiskTable.lists" [totalPages]="assessmentRiskTable.totalPage" [currentPage]="assessmentRiskTable.currentPage" (pageEmitter)="getAssessmentRisks($event)"></page-menu>
    </div>
    <div *ngIf="!assessmentRiskTable.lists" class="error-message">
      <p>{{assessmentRiskTable.errorMessage}}</p>
      <button *ngIf="assessmentRiskTable.errorMessage" class="ui button small" (click)="refresh()">点击刷新</button>
    </div>
  </div>
</div>
<risk-detail *ngIf="enableDetail" [(enable)]="enableDetail" [data]="assessmentRisk"></risk-detail>
