<app-container [config]="containerConfig"  *ngIf="containerConfig">
  <div class="addition">
    <button mat-raised-button (click)="newData()">新增版本</button>
  </div>
  <div class="content">
    <div *ngIf="!versionControlTable.lists&&versionControlTable.loading">Loading...</div>
    <div *ngIf="!versionControlTable.lists&&!versionControlTable.loading&&!!versionControlTable.errorMessage" class="center">
      {{versionControlTable.errorMessage}}
    </div>
    <div *ngIf="versionControlTable.lists">
      <div class="content__table">
        <app-lib-table
          [table]="versionControlTable"
          (handleEmmit)="gotoHandle($event)"
          (pageEmitter)="getVersionControl($event)"
        ></app-lib-table>
      </div>
    </div>
  </div>
</app-container>
