<app-container [config]="containerConfig"  *ngIf="containerConfig">
  <div class="addition">
    <button mat-raised-button (click)="newData()">新增规格</button>
  </div>
  <div class="content">
    <div *ngIf="!serviceSpecTable.lists&&serviceSpecTable.loading">Loading...</div>
    <div *ngIf="!serviceSpecTable.lists&&!serviceSpecTable.loading&&!!serviceSpecTable.errorMessage" class="center">
      {{serviceSpecTable.errorMessage}}
    </div>
    <div *ngIf="serviceSpecTable.lists">
      <div class="content__table">
        <app-lib-table
          [table]="serviceSpecTable"
          (handleEmmit)="gotoHandle($event)"
          (pageEmitter)="getServiceSpec($event)"
        ></app-lib-table>
      </div>
    </div>
  </div>
</app-container>
