<div class="content-wrapper">
  <div class="content-location">
    <i>你的位置</i>
    <i class="fa fa-angle-right" aria-hidden="true" style="padding: 0 10px;"></i> {{title}}
  </div>
  <div class="content-title">
    {{title}} － <strong>{{subTitle}}</strong>
  </div>
  <div class="content-addition">
    <button class="ui button" (click)="newServiceSpec()">新增服务规格</button>
  </div>
  <div class="table-title">{{subTitle}}</div>
  <div class="table-content">
    <div *ngIf="!serviceSpecTable.lists&&serviceSpecTable.loading">Loading...</div>
    <div *ngIf="serviceSpecTable.lists">
      <dynamic-table [titles]="serviceSpecTable.titles" [lists]="serviceSpecTable.lists" (handleEmmit)="gotoHandle($event)"></dynamic-table>
      <div class="table-nav" style="text-align: right">
        <page-menu *ngIf="serviceSpecTable.lists" [totalPages]="serviceSpecTable.totalPage" [currentPage]="serviceSpecTable.currentPage" (pageEmitter)="getServiceSpecs($event)"></page-menu>
      </div>
    </div>
    <div *ngIf="!serviceSpecTable.lists&&!serviceSpecTable.loading" class="error-message">
      <p>{{serviceSpecTable.errorMessage}}</p>
      <button *ngIf="serviceSpecTable.errorMessage" class="ui button small" (click)="refresh()">点击刷新</button>
    </div>
  </div>
</div>
<app-service-spec-edit *ngIf="enableEdit" [(enable)]="enableEdit" [data]="serviceSpec" (handleEmit)="handleSuccess($event)"></app-service-spec-edit>
<modal-show *ngIf="enableShow" [(enable)]="enableShow" [title]="titleShow" [message]="message"></modal-show>
