<div class="content-wrapper">
  <div class="content-location">
    <i>你的位置</i>
    <i class="fa fa-angle-right" aria-hidden="true" style="padding: 0 10px;"></i> {{title}}
  </div>
  <div class="content-title">
    {{title}} － <strong>{{subTitle}}</strong>
  </div>
  <div class="content-addition">
    <button class="ui button" (click)="newHospital()">新增医院</button>
  </div>
  <div class="table-title">{{subTitle}}</div>
  <div class="table-content">
    <div *ngIf="!hospitalTable.lists&&hospitalTable.loading">Loading...</div>
    <dynamic-table [titles]="hospitalTable.titles" [lists]="hospitalTable.lists" (handleEmmit)="gotoHandle($event)"></dynamic-table>
    <div *ngIf="!hospitalTable.lists&&!hospitalTable.loading" class="error-message">
        <p>{{hospitalTable.errorMessage}}</p>
        <button *ngIf="hospitalTable.errorMessage" class="ui button small" (click)="refresh()">点击刷新</button>
    </div>
  </div>
</div>
<hospital-edit *ngIf="enableEdit" [(enable)]="enableEdit"  [data]="hospital" (handleEmit)="handleSuccess($event)"></hospital-edit>
<modal-show *ngIf="enableShow" [(enable)]="enableShow" [title]="titleShow" [message]="message"></modal-show>