<app-container [config]="containerConfig" *ngIf="containerConfig">
  <div class="addition">
    <button mat-raised-button *ngIf="!ifEdit" (click)="toUpdate()">编辑自动回复</button>
  </div>
  <div class="content">
    <div *ngIf="!ifEdit" style="padding: 1em 0">
      <p>{{autoReply}}</p>
    </div>
    <div *ngIf="ifEdit" style="padding: 1em 0">
      <form #f="ngForm" (ngSubmit)="updateReply(f.value)">
        <mat-form-field style="width: 100%">
          <textarea matInput [attr.row]="'20'"
                    [placeholder]="'编辑自动回复'"
                    name="name"
                    [(ngModel)]="autoReply"
          ></textarea>
        </mat-form-field>
        <button mat-raised-button color="primary">保存</button>
      </form>
    </div>
  </div>
</app-container>
