<app-container [config]="account_Config" *ngIf="account_Config">
  <div class="addition">
    <button mat-raised-button (click)="addAccount()">添加账号</button>
  </div>
  <div class="content">
    <form style="padding: 16px">
      <mat-form-field floatPlaceholder="always">
        <input matInput type="text" placeholder="账号搜索" name="queryKey" [(ngModel)]="accountTable.queryKey">
      </mat-form-field>
      <!--<mat-form-field floatPlaceholder="always">-->
        <!--<mat-select placeholder="状态" name="queryBind" [(ngModel)]="deleted">-->
          <!--<mat-option [value]="''">全部</mat-option>-->
          <!--<mat-option [value]="false">未删除</mat-option>-->
          <!--<mat-option [value]="true">已删除</mat-option>-->
        <!--</mat-select>-->
      <!--</mat-form-field>-->
      <!--<mat-form-field floatPlaceholder="always">-->
        <!--<mat-select placeholder="闹钟开关" name="queryBind" [(ngModel)]="remind">-->
          <!--<mat-option [value]="true">打开</mat-option>-->
          <!--<mat-option [value]="false">关闭</mat-option>-->
        <!--</mat-select>-->
      <!--</mat-form-field>-->
      <button mat-icon-button color="primary" type="button" (click)="getsystemAccount(0)">
        <mat-icon>search</mat-icon>
      </button>
      <button mat-icon-button color="primary" type="button" (click)="reset()">
        <mat-icon>autorenew</mat-icon>
      </button>
    </form>
    <div *ngIf="!accountTable.lists&&accountTable.loading">Loading...</div>
    <div *ngIf="!accountTable.lists&&!accountTable.loading&&!!accountTable.errorMessage" class="center">
      {{accountTable.errorMessage}}
    </div>
    <div *ngIf="accountTable.lists">
      <div class="content__table">
        <app-lib-table
          [table]="accountTable"
          (handleEmmit)="gotoHandle($event)"
          (pageEmitter)="getsystemAccount($event)"
        ></app-lib-table>
      </div>
    </div>
  </div>
</app-container>
