<div class="content-wrapper">
  <div class="content-location">
    <i>你的位置</i>
    <i class="fa fa-angle-right" aria-hidden="true" style="padding: 0 10px;"></i> {{title}}
  </div>
  <div class="content-title">
    {{title}} － <strong>{{subTitle}}</strong>
  </div>
  <div class="content-addition">
    <button class="ui button" (click)="newNewsClassify()">新增健康资讯分类</button>
  </div>
  <div class="table-title">{{subTitle}}</div>
  <div class="table-content">
    <div *ngIf="!newsClassifyTable.lists&&newsClassifyTable.loading">Loading...</div>
    <dynamic-table [titles]="newsClassifyTable.titles" [lists]="newsClassifyTable.lists" (handleEmmit)="gotoHandle($event)"></dynamic-table>
    <div *ngIf="!newsClassifyTable.lists&&!newsClassifyTable.loading" class="error-message">
        <p>{{newsClassifyTable.errorMessage}}</p>
        <button *ngIf="newsClassifyTable.errorMessage" class="ui button small" (click)="refresh()">点击刷新</button>
    </div>
  </div>
</div>
<news-classify-edit *ngIf="enableEdit" [(enable)]="enableEdit"  [data]="classify" (handleEmit)="handleSuccess($event)"></news-classify-edit>
<modal-show *ngIf="enableShow" [(enable)]="enableShow" [title]="titleShow" [message]="message"></modal-show>
