<app-container [config]="containerConfig"  *ngIf="containerConfig">
  <div class="addition">
    <button mat-raised-button (click)="newData()">新增鲜花等级</button>
  </div>
  <div class="content">
    <div *ngIf="!flowerGradeTable.lists&&flowerGradeTable.loading">Loading...</div>
    <div *ngIf="!flowerGradeTable.lists&&!flowerGradeTable.loading&&!!flowerGradeTable.errorMessage" class="center">
      {{flowerGradeTable.errorMessage}}
    </div>
    <div *ngIf="flowerGradeTable.lists">
      <div class="content__table">
        <app-lib-table
          [table]="flowerGradeTable"
          (handleEmmit)="gotoHandle($event)"
          (pageEmitter)="getFlowerGrade($event)"
        ></app-lib-table>
      </div>
    </div>
  </div>
</app-container>
