<div class="field">
  <label for="name">检查名称</label>
  <input id="name" type="text" name="name" (blur)="saveAsDraft()" (change)="saveAsDraft()" [(ngModel)]="info.name"
         required>
</div>
<div class="field">
  <label for="time{{index}}">报告日期</label>
  <input id="time{{index}}" type="text" name="time" (blur)="saveAsDraft()" (change)="saveAsDraft()"
         [(ngModel)]="info.time" required>
</div>
<div class="field">
  <label for="orderNo">报告单号</label>
  <input id="orderNo" type="text" name="orderNo" (blur)="saveAsDraft()" (change)="saveAsDraft()"
         [(ngModel)]="info.orderNo" required>
</div>
<div class="field">
  <label for="clinicalDiagnosis">临床诊断</label>
  <input id="clinicalDiagnosis" type="text" name="clinicalDiagnosis" (blur)="saveAsDraft()" (change)="saveAsDraft()"
         [(ngModel)]="info.clinicalDiagnosis">
</div>
<div class="field">
  <label for="technique">检查技术</label>
  <input id="technique" type="text" name="technique" (blur)="saveAsDraft()" (change)="saveAsDraft()"
         [(ngModel)]="info.technique">
</div>
<div class="field">
  <label for="description">影像描述</label>
  <textarea id="description" type="text" name="description" (blur)="saveAsDraft()" (change)="saveAsDraft()"
            [(ngModel)]="info.description"></textarea>
</div>
<div class="field">
  <label for="suggestion">诊断描述</label>
  <input id="suggestion" type="text" name="suggestion" (blur)="saveAsDraft()" (change)="saveAsDraft()"
         [(ngModel)]="info.suggestion">
</div>
