<app-container [config]="containerConfig" *ngIf="containerConfig">
  <div class="content">
    <form *ngIf="form&&config" [formGroup]="form" (ngSubmit)="getValues(form.value)">
      <app-input-dropdown [form]="form" [data]="config.articleTypeId" [(value)]="config.articleTypeId.value">
      </app-input-dropdown>
      <app-input-file [form]="form" [data]="config.imageUrl" [(value)]="config.imageUrl.value"></app-input-file>
      <app-input-text [form]="form" [data]="config.title" [(value)]="config.title.value"></app-input-text>
      <app-input-textarea [form]="form" [data]="config.content" [(value)]="config.content.value"></app-input-textarea>
      <app-input-radio [form]="form" [data]="config.type" [(value)]="config.type.value" #f></app-input-radio>
      <app-input-text [form]="form" [data]="config.link" [(value)]="config.link.value"
                      *ngIf="f.value==0"
      ></app-input-text>
      <app-input-editor [form]="form" [data]="config.richText" [(value)]="config.richText.value"
                        *ngIf="f.value==1"
      ></app-input-editor>
      <app-input-text [form]="form" [data]="config.author" [(value)]="config.author.value"
                      *ngIf="config.type.value==1"
      ></app-input-text>
      <app-input-text [form]="form" [data]="config.ranking" [(value)]="config.ranking.value"></app-input-text>
      <app-input-radio [form]="form" [data]="config.online" [(value)]="config.online.value"></app-input-radio>
      <app-input-hidden [form]="form" [data]="config.adminId" [(value)]="config.adminId.value"></app-input-hidden>
      <button mat-raised-button color="primary" [disabled]="!form.valid">保存</button>
      <button mat-raised-button type="reset">重置</button>
    </form>
  </div>
</app-container>
