<div class="content-wrapper">
  <div class="content-location">
    <i>你的位置</i>
    <i class="angle right icon" style="padding: 0 10px;"></i> {{title}}
  </div>
  <div class="content-title">
    {{title}} － <strong>{{subTitle}}</strong>
  </div>
  <div class="content-addition">
    <button class="ui button" (click)="newItem()">新增检查类目</button>
  </div>
  <div class="table-title">{{subTitle}}</div>
  <div class="table-content">
    <div *ngIf="!inspectionCategoryTable.lists&&inspectionCategoryTable.loading">Loading...</div>
    <div *ngIf="inspectionCategoryTable.lists">
      <dynamic-table [titles]="inspectionCategoryTable.titles" [lists]="inspectionCategoryTable.lists" (handleEmmit)="gotoHandle($event)"></dynamic-table>
    </div>
    <div *ngIf="!inspectionCategoryTable.lists&&!inspectionCategoryTable.loading" class="error-message">
      <p>{{inspectionCategoryTable.errorMessage}}</p>
      <button *ngIf="inspectionCategoryTable.errorMessage" class="ui button small" (click)="refresh()">点击刷新</button>
    </div>
  </div>
</div>
<app-inspection-category-edit *ngIf="enableEdit" [data]="inspectionCategoryData" [(enable)]="enableEdit" (handleEmit)="handleSuccess($event)"></app-inspection-category-edit>
<modal-show *ngIf="enableShow" [title]="'提示信息'" [message]="message" [(enable)]="enableShow"></modal-show>
