<div class="content-wrapper">
  <div class="content-location">
    <i>你的位置</i>
    <i class="fa fa-angle-right" aria-hidden="true" style="padding: 0 10px;"></i> {{title}}
  </div>
  <div class="content-title">
    {{title}} － <strong>{{subTitle}}</strong>
  </div>
  <tab-set [menuClass]="'teal three item inverted content-tab'">
    <tab title="全部来源统计">
      <form class="ui small form" style="margin: 15px 0 30px" #uf="ngForm">
        <div class="inline fields">
          <div class="field">
            <input type="text" placeholder="选择日期范围" name="queryMainDate" [(ngModel)]="queryMainDate" id="main" style="width: 200px">
          </div>
          <div class="field">
            <button type="button" class="ui small button" (click)="clickMainSearch(queryMainDate)">搜索</button>
          </div>
        </div>
      </form>
      <div *ngIf="!mainTable.lists&&mainTable.loading">Loading...</div>
      <div *ngIf="mainTable.lists">
        <dynamic-table [titles]="mainTable.titles" [lists]="mainTable.lists" (handleEmmit)="gotoHandle($event)"></dynamic-table>
      </div>
      <div *ngIf="!mainTable.lists&&!mainTable.loading" class="error-message">
        <p>{{mainTable.errorMessage}}</p>
        <button *ngIf="mainTable.errorMessage" class="ui button small" (click)="defaultData()">点击刷新</button>
      </div>
    </tab>
    <tab title="用户渠道来源统计">
      <form class="ui small form" style="margin: 15px 0 30px" #uf="ngForm">
        <div class="inline fields">
          <div class="field">
            <input type="text" placeholder="选择日期范围" name="queryUserDate" [(ngModel)]="queryUserDate" id="user" style="width: 200px">
          </div>
          <div class="field">
            <button type="button" class="ui small button" (click)="clickUserSearch(queryUserDate)">搜索</button>
          </div>
        </div>
      </form>
      <div *ngIf="!userTable.lists&&userTable.loading">Loading...</div>
      <div *ngIf="userTable.lists">
        <dynamic-table [titles]="userTable.titles" [lists]="userTable.lists" (handleEmmit)="gotoHandle($event)"></dynamic-table>
      </div>
      <div *ngIf="!userTable.lists&&!userTable.loading" class="error-message">
        <p>{{userTable.errorMessage}}</p>
        <button *ngIf="userTable.errorMessage" class="ui button small" (click)="defaultData()">点击刷新</button>
      </div>
    </tab>
    <tab title="医生渠道来源统计">
      <form class="ui small form" style="margin: 15px 0 30px" #uf="ngForm">
        <div class="inline fields">
          <div class="field">
            <input type="text" placeholder="选择日期范围" name="queryDoctorDate" [(ngModel)]="queryDoctorDate" id="doctor" style="width: 200px">
          </div>
          <div class="field">
            <button type="button" class="ui small button" (click)="clickDoctorSearch(queryDoctorDate)">搜索</button>
          </div>
        </div>
      </form>
      <div *ngIf="!doctorTable.lists&&doctorTable.loading">Loading...</div>
      <div *ngIf="doctorTable.lists">
        <dynamic-table [titles]="doctorTable.titles" [lists]="doctorTable.lists" (handleEmmit)="gotoHandle($event)"></dynamic-table>
      </div>
      <div *ngIf="!doctorTable.lists&&!doctorTable.loading" class="error-message">
        <p>{{doctorTable.errorMessage}}</p>
        <button *ngIf="doctorTable.errorMessage" class="ui button small" (click)="defaultData()">点击刷新</button>
      </div>
    </tab>
  </tab-set>
</div>
