<app-container [config]="containerConfig" *ngIf="containerConfig">
  <div class="addition">
    <button mat-raised-button (click)="newData()">新增优惠券</button>
    <button mat-raised-button (click)="couponMaintain()">优惠券说明维护</button>
  </div>
  <div class="content">
    <div *ngIf="!couponTable.lists&&couponTable.loading">Loading...</div>
    <div *ngIf="!couponTable.lists&&!couponTable.loading&&!!couponTable.errorMessage" class="center">
      {{couponTable.errorMessage}}
    </div>
    <div *ngIf="couponTable.lists">
      <div class="content__table">
        <app-lib-table
          [table]="couponTable"
          (handleEmmit)="gotoHandle($event)"
          (pageEmitter)="getCouponList($event)"
        ></app-lib-table>
      </div>
    </div>
  </div>
</app-container>
